# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/TripleS/lib/tbb/bin
/TripleS/lib/tbb/doc
/TripleS/lib/tbb/examples
/TripleS/lib/tbb/include
/TripleS/lib/tbb/lib
/TripleS/lib/tbb/CHANGES
/TripleS/lib/tbb/COPYING
/TripleS/lib/tbb/index.html
/TripleS/lib/tbb/README
/TripleS/lib/vld/CHANGES.txt
/TripleS/lib/vld/COPYING.txt
/TripleS/lib/vld/unins000.dat
/TripleS/lib/vld/unins000.exe
/TripleS/lib/vld/vld.ini
/TripleS/lib/vld/bin
/TripleS/lib/vld/include
/TripleS/lib/vld/lib
/TripleS/lib/vld/src
/TripleS/lib/vld/AUTHORS.txt
